.vscode/c_cpp_properties.json
.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/snakes.exe
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-b5202048d40082e6cb94.json
build/.cmake/api/v1/reply/codemodel-v2-ab7ab538e617ecfb531a.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2022-07-09T12-18-23-0910.json
build/.cmake/api/v1/reply/target-snakes_autogen-Debug-9bf367cc25b1b192b089.json
build/.cmake/api/v1/reply/target-snakes-Debug-f3944ebe5c8492f344c0.json
build/.cmake/api/v1/reply/toolchains-v1-c9317ef77ce2126cb36e.json
build/.qt/QtDeploySupport.cmake
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.23.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.23.2/CMakeSystem.cmake
build/CMakeFiles/3.23.2/CompilerIdCXX/a.exe
build/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/snakes.dir/build.make
build/CMakeFiles/snakes.dir/cmake_clean.cmake
build/CMakeFiles/snakes.dir/compiler_depend.make
build/CMakeFiles/snakes.dir/compiler_depend.ts
build/CMakeFiles/snakes.dir/depend.make
build/CMakeFiles/snakes.dir/DependInfo.cmake
build/CMakeFiles/snakes.dir/flags.make
build/CMakeFiles/snakes.dir/includes_CXX.rsp
build/CMakeFiles/snakes.dir/link.txt
build/CMakeFiles/snakes.dir/linklibs.rsp
build/CMakeFiles/snakes.dir/main.cpp.obj
build/CMakeFiles/snakes.dir/main.cpp.obj.d
build/CMakeFiles/snakes.dir/objects.a
build/CMakeFiles/snakes.dir/objects1.rsp
build/CMakeFiles/snakes.dir/paintarea.cpp.obj
build/CMakeFiles/snakes.dir/paintarea.cpp.obj.d
build/CMakeFiles/snakes.dir/progress.make
build/CMakeFiles/snakes.dir/snake.cpp.obj
build/CMakeFiles/snakes.dir/snake.cpp.obj.d
build/CMakeFiles/snakes.dir/widget.cpp.obj
build/CMakeFiles/snakes.dir/widget.cpp.obj.d
build/CMakeFiles/snakes.dir/snakes_autogen/mocs_compilation.cpp.obj
build/CMakeFiles/snakes.dir/snakes_autogen/mocs_compilation.cpp.obj.d
build/CMakeFiles/snakes_autogen.dir/AutogenInfo.json
build/CMakeFiles/snakes_autogen.dir/AutogenUsed.txt
build/CMakeFiles/snakes_autogen.dir/build.make
build/CMakeFiles/snakes_autogen.dir/cmake_clean.cmake
build/CMakeFiles/snakes_autogen.dir/compiler_depend.make
build/CMakeFiles/snakes_autogen.dir/compiler_depend.ts
build/CMakeFiles/snakes_autogen.dir/DependInfo.cmake
build/CMakeFiles/snakes_autogen.dir/ParseCache.txt
build/CMakeFiles/snakes_autogen.dir/progress.make
build/snakes_autogen/moc_predefs.h
build/snakes_autogen/mocs_compilation.cpp
build/snakes_autogen/EWIEGA46WW/moc_paintarea.cpp
build/snakes_autogen/EWIEGA46WW/moc_paintarea.cpp.d
build/snakes_autogen/EWIEGA46WW/moc_snake.cpp
build/snakes_autogen/EWIEGA46WW/moc_snake.cpp.d
build/snakes_autogen/EWIEGA46WW/moc_widget.cpp
build/snakes_autogen/EWIEGA46WW/moc_widget.cpp.d
build/snakes_autogen/include/ui_widget.h
CMakeLists.txt
CMakeLists.txt.user
